* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/* .container{
    display: flex;
    justify-content: center;
    align-content: space-between;
} */

.logo {
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    color: #000;
}

.guide{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: rgb(4, 4, 112);
}

img{
    width: 100px;
    height: 100px;
    display: flex;
    margin-left: 615px;
    margin-top: 20px;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

p {
    color: red;
    font-size: small;
}

body {
    font-family: 'Comfortaa', cursive;
    background: #bcdcec;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 15px;
    font-weight: bold;

}

button {
    margin-top: 20px;
    background-color: rgb(98, 98, 255);
    color: white;
    border: none;
    padding: 12px 140px;
    border-radius: 40px;
    font-weight: bold;
    font-size: 20px;
    outline: none;
}

#userlogin{
    border-radius: 20px;
   outline: none cadetblue;
   padding: 10px 100px;
}
#loginpassword{
    border-radius: 20px;
   outline: none cadetblue;
   padding: 10px 100px;
   margin-left:8px ;
}
.signup-link{
    color: black;
    font-size: 15px;
    font-style: oblique;
}

